.main_div{
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(23, 55, 198);
    box-sizing: border-box;
}
.track,.artist,.song{
    text-align: center;
    font-size: 2rem;
}
.music_control{
    text-align: center;
    font-size: 4rem;
}
.img{
    border: 1px transparent white;
    border-radius: 10rem;
    text-align: center;
}
#play:hover , #prev:hover , #next:hover{
    opacity: 0.5;
}
.volume-control {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #volume-slider {
    width: 40px;
    background: #d3d3d3;
    border: none;
    outline: none;
    height: 5px;
    cursor: pointer;
  }
  
  #volume-slider::-webkit-slider-thumb {
    background: #2b04ed;
    width: 15px;
    height: 15px;
    border-radius: 40%;
    cursor: pointer;
  }  
  
#progress_bar{
    box-sizing: border-box;
    box-shadow: 1rem;
    border: 1rem dotted red;
    border-radius: 10rem;
    width: 0%;
    height: 10px;
    background-color: rgb(60, 255, 0);
}
#current{
    float:left;
}
#duration{
    float: right;
}
